* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: none;
  outline: none;

  font-family: sans-serif;
}

html {
  font-size: 14px;
}

:root {
  --mid-light-grey: #232f3e;
  --light-grey: #37475a;
  --dark-yellow: #febd69;

  --white: #fff;
  --black: #000;
}

body {
  background-color: black;
  color: white;
}

/* ! ******************* Nav Started ******************* */

/* ? Nav Main */
nav {
  border: 1px solid red;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 48px);
}

/* ? Nav Logo */
.nav-logo {
  border: 1px solid red;
  background-color: var(--mid-light-grey);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: start;
  justify-content: start;

  padding-left: 10px;
  padding-top: 10px;
  gap: 5px;
}

.nav-logo i {
  border: 1px solid red;

  font-size: 1.2rem;
}

.logo-div {
  border: 1px solid red;

  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-div img {
  border: 1px solid red;

  width: 100%;
}

/* ? Nav Multiple */
.nav-multiple {
  border: 1px solid red;
  background-color: var(--mid-light-grey);

  width: 100%;
  height: 100%;
}

/* ? Nav Search */

.nav-search {
  border: 1px solid red;
  background-color: var(--mid-light-grey);

  width: 100%;
  height: 100%;

  grid-column: 1/3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  border: 1px solid red;

  width: 97%;
  height: 44px;

  border-radius: 8px 12px 12px 8px;
  padding: 0 95px 0 10px;
  font-size: 1rem;
}

.nav-search i {
  border: 1px solid red;
  background-color: var(--dark-yellow);
  color: var(--black);

  width: 50px;
  height: 44px;

  position: absolute;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  font-size: 1.3rem;
}

/* ? Nav Belt */
.nav-belt {
  border: 1px solid red;
  background-color: var(--mid-light-grey);

  width: 100%;
  height: 100%;

  grid-column: 1/3;

  display: flex;
  align-items: center;
  gap: 10px;

  scrollbar-width: none;

  overflow-x: auto;
  overflow-y: hidden;

  padding-left: 10px;
}

.nav-belt--items {
  border: 1px solid red;

  flex-shrink: 0;

  padding: 2px;
}

.nav-belt--items:nth-child(1) > i {
  display: none;
}

/* ? Nav Delivery */
.nav-delivery--mb {
  border: 1px solid red;
  background-color: var(--light-grey);

  width: 100%;
  height: 100%;

  grid-column: 1/3;

  display: flex;
  align-items: center;
  gap: 4px;

  padding: 5px 5px 5px 10px;
}

/* ! ******************* Nav Ended ******************* */
